* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  font-size: 6em;
  text-align: center;
}

h2 span {
  position: relative;
  display: inline-flex;
  color: #03a9f4;
}

h2 span:nth-child(odd) {
  letter-spacing: -1em;
  color: #414141;
  line-height: 1em;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

h2:hover span:nth-child(odd) {
  letter-spacing: 0;
}

h2 span:nth-child(2) {
  margin-right: 10px;
}

h2 span:nth-child(2):after {
  content: "2";
  position: absolute;
  bottom: 0;
  right: -10px;
  font-size: 0.35em;
}
